---
title: Homepage
layout: default
---

<ul class="projects clearfix">
{% for post in site.posts %}
  <li>
    <div class="project">
      <a class="cover" href="{{ post.url }}">
        <div class="project-details">
          <span>
            {{ post.title }}
          </span>
          <span>
          {% for tag in post.tags %}
            <p>{{ tag }}</p>
          {% endfor %}
          </span>
        </div>
      </a>
      <img class="thumb" src = " {{ post.image }} " alt = " {{ post.alt | prepend: post.url }} " />
      <div class="aspect-one-one"></div>
    </div>
  </li>
{% endfor %}
</ul>