---
layout: default
---

<div class="post post-wide">
    <div class="project-description">
      <div class = "centre-col">
      {% comment %} <div class="row clearfix"> {% endcomment %}
        {% comment %} <div class="col"> {% endcomment %}
          <h1 class="project-title">{{ page.title }}</h1>
          {% if page.secondary_date %}
            <p>{{ page.primary_date }} - <p>{{ page.secondary_date }}</p>
          {% else %}
            <p>{{ page.primary_date }}</p>
          {% endif %}
          <p>{{ page.location }}</p>
          <p>{{ page.latitude }}° N, {{ page.longitude }}° W</p>
    
          <img class = "cover-image" src = "{{site.url}}/{{ page.image }}" alt = {{page.alt}}>

          <p>Tags:</p>
          {% for tag in page.tags %}
            <p><a href = "{{site.url}}/{{tag}}">{{ tag | textilize }}</a></p>
          {% endfor %}

          <p>Instagram post:</p>
            <a class="project-link" href="{{ page.instagram_url }}" target="_blank">{{ page.instagram_url }}</a>
        
          <div class="col">
            <p>
              {{content}}
            </p>
          </div>
        </div>
    </div>
  </div>
</div>

<a href="{{page.next.url}}" title="{{page.next.title}}" class="next-project"></a>
<a href="{{page.previous.url}}" title="{{page.previous.title}}" class="prev-project"></a>
